<a href="/users"><span class="user_list">show all users</span></a>
<a href="/blog"><span class="blog"> view our blog</span></a>
<form>
  <input type="text" name="email" placeholder="myemail@email.com">
</form>
<span class="copyright">Copyright ©2015 BFGY A few rights reserved</span>
</body>
</html>
