<!DOCTYPE html>
<html>
<head>
  <title>ShirtStore</title>
<link rel="stylesheet" type="text/css" href="/stylesheet.css">
<link rel="stylesheet" type="text/css" href="/stylesheet.css.map">
<link rel="stylesheet" type="text/css" href="/stylesheet.scss">
</head>
<body>
 <div id="header">
  <a href="/" id="logo">kualaT</a>
  <nav class="navBar">
    <div class="link">
    <a href="/users">Users</a>
    <a href="/shirts/admin">Admin</a>
    <a href="/shirts/cart">Cart</a>
    <a href="/contact">Contact</a>
    </div>
  </nav>
<form id="search_form" action = "/shirts/search" method = "GET">
  <input type="text" placeholder="Find a Shirt!" name="search">
  <select name="type">
    <option value = "brand">brand</option>
    <option value = "name">name</option>
    <option value = "color">color</option>
    <option value = "price">price</option>
    <option value = "id">id</option>
  </select>
  <button>Search</button>
</form>
</div>
