/* ALL COLORS */

/* GREY COLORS */
$l-grey: rgba(200, 200, 200, .8);
$d-grey: rgba(180, 180, 180, .85);
$g-grey: linear-gradient($l-grey, $d-grey);
$back-f-grey: rgba(182, 222, 182, .1);
$back-l-grey: rgba(250, 235, 200, .222);
$back-d-grey: rgba(255, 245, 210, .18);
$grey: linear-gradient($back-l-grey, $back-d-grey);

/*PINK COLORS */
$l-pink: rgba(255, 200, 200, 1);
$back-f-pink: rgba(140, 40, 10, .5);
$s-purp: rgba(240, 90, 190, 1);
$back-pink: rgba(240, 210, 210, .5);
$full-pink: rgba(180, 50, 50, .75);

/* CYAN COLORS */
$back-cyan: rgba(60, 190, 190, .5);
$l-cyan: rgba(30, 170, 230, .85);
$d-cyan: rgba(20, 160, 220, .9);
$g-cyan: linear-gradient($l-cyan, $d-cyan);
$d-green-cyan: rgba(20, 185, 120, 1);
$l-green-cyan: rgba(50, 215, 150, 1);
$g-green-cyan: linear-gradient($l-green-cyan, $d-green-cyan);
$blue-cyan: rgba(10, 120, 180, .95);

/* OTHER COLORS */
$white: rgba(255, 255, 255, 1);

$yellow: rgba(245, 245, 90, 1);

/* OTHER VARIABLES */
$s-font: 'Raleway', Futura, Verdana, arial, sans-serif;

$margin: 5%;

$sm-size: 12%;

* {
    margin         : 0 auto;
    padding        : 0;
    border         : 0;
    outline        : 0;
    vertical-align : baseline;
    background     : transparent;
    font-size   : 1.1em;
    font-family : $s-font;
    color: $s-purp;
    -webkit-box-sizing : border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing    : border-box; /* Firefox, other Gecko */
    box-sizing         : border-box; /* Opera/IE 8+ */
}

header { 
  margin: $margin;
  
  ul { 
    display: inline-block;
    min-width: 90%;
    }  
}

body {
  background-color: $l-grey;

  div {
    align-self: auto;
    flex-basis: auto;
  }

  li {
    display: flex;
    flex-wrap: wrap;
  }

  img {
    max-width: 80%;
    max-height: 80%;
  }
   a, button, input {
    color: $d-green-cyan;
    font-size: 1.1em;
    padding: 1px;
    text-decoration: blink;
    cursor: pointer;
    border: 0 solid transparent;
    border-bottom: 1px solid $grey;
   }
   &:focus {
    box-shadow: 5px 5px 5px $blue-cyan;
    outline: 0;
   }
   a:hover, button:hover, input:hover {
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px 1px $d-green-cyan;
    box-shadow: 1px 1px 3px 1px $d-green-cyan;
   }
  input {
    border: 1px solid $g-cyan;
    border-bottom: 3px solid $d-cyan;
    color: $d-cyan;
  }
  h4 {
    font-size: .5em;
  }
  h2 {
    font-size: 1.45em;
    padding: 0 20px;
  }
}
footer{
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0;
}
::-webkit-input-placeholder {
  color: $back-cyan;
  z-index: 10;
  }
  :-moz-placeholder {
  color: $back-cyan;
  z-index: 10;
  }
::-moz-placeholder{
  color: $back-cyan;
  z-index: 10;
}
:-ms-input-placeholder{
  color: $back-cyan;
  z-index: 10;
}
.shirt_list {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 20%;
    height: 300px;
  }
  .list_image {
    width: 100%;
  }
}


.each_shirt {
  border: 2px $back-f-pink;
  background: $grey;
}
.shirt_brand {
  color: $blue-cyan;
}
.shirt_name {
}
.shirt_price {
  color: $d-green-cyan;
}
.modal_shirt{
  height: $sm-size;
  max-height: $sm-size;
  min-height: $sm-size;
  max-width: $sm-size;
  min-width: $sm-size;
  width: $sm-size;
}

.linkButton {
 background: $g-cyan;
 border: $g-cyan 1px solid;
 border: 1px solid $g-cyan;
 border-bottom: 2px solid $back-f-grey;
 color: $white;
 height: 44px;
 width: 50px;
 min-height: 44px;
 min-width: 50px;
 max-height: 44px;
 max-width: 50px;
}

.linkButton :hover{
 background: $white;
 color: $d-green-cyan;
}


.update {
  background: $s-purp;
  color: $white;
  border: $s-purp 
}
.add_shirt {
  padding: 20px;
}
#logo {
  font-size: 1.7em;
  float: left;
  padding-left: 10px;
}
#header {
  padding-bottom: 20px;
  width: 100%;

  nav {
    padding: 2px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    background: $g-grey;
    // text-shadow: 1px 1px $blue-cyan;
    
    .link{
      text-align: center;
      padding-right:105px;
      a {
        
        padding: 0 20px;
        box-shadow: 3px $blue-cyan;
      }
    }
  }

}
#search_form{
 
      padding-left: 450px;
      padding-top: 20px;
    }
#modal {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}


#content{
  position: absolute;
  background: $back-pink;
  border-radius: 14px;
  top: 20%;
  border: 3px $l-pink solid;
  padding: 20px;
}
#close_it {
  float:right;
  position: relative;
  display: inline-block;
}
@media screen and (max-width:800px) {
    @-ms-viewport {
        width:321px;
    }
}