/* ALL COLORS */
/* GREY COLORS */
/*PINK COLORS */
/* CYAN COLORS */
/* OTHER COLORS */
/* OTHER VARIABLES */
* {
  margin: 0 auto;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 1.1em;
  font-family: "Raleway", Futura, Verdana, arial, sans-serif;
  color: #f05abe;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

header {
  margin: 5%; }
  header ul {
    display: inline-block;
    min-width: 90%; }

nav {
  background: linear-gradient(rgba(200, 200, 200, 0.8), rgba(180, 180, 180, 0.85)); }

body {
  background-color: rgba(200, 200, 200, 0.8);
  padding: 1%; }
  body div {
    align-self: auto;
    flex-basis: auto; }
  body li {
    display: flex;
    flex-wrap: wrap; }
  body a, body button, body input {
    color: #14b978;
    font-size: 1.1em;
    padding: 1px;
    text-decoration: blink;
    cursor: pointer;
    border: 0 solid transparent;
    border-bottom: 1px solid linear-gradient(rgba(250, 235, 200, 0.222), rgba(255, 245, 210, 0.18)); }
  body:focus {
    box-shadow: 0 0 10px rgba(182, 222, 182, 0.1);
    outline: 0; }
  body a:hover, body button:hover, body input:hover {
    box-shadow: 0 0 15px rgba(182, 222, 182, 0.1); }
  body input {
    border: 1px solid linear-gradient(rgba(30, 170, 230, 0.85), rgba(20, 160, 220, 0.9));
    border-bottom: 3px solid rgba(20, 160, 220, 0.9);
    color: white; }
  body h3, body h4 {
    font-size: .5em; }

::-webkit-input-placeholder {
  color: rgba(120, 250, 250, 0.5);
  z-index: 10; }

:-moz-placeholder {
  color: rgba(120, 250, 250, 0.5);
  z-index: 10; }

::-moz-placeholder {
  color: rgba(120, 250, 250, 0.5);
  z-index: 10; }

:-ms-input-placeholder {
  color: rgba(120, 250, 250, 0.5);
  z-index: 10; }

.shirt_list {
  display: flex;
  flex-wrap: wrap; }

.each_shirt {
  border: 2px rgba(140, 40, 10, 0.5);
  background: linear-gradient(rgba(250, 235, 200, 0.222), rgba(255, 245, 210, 0.18)); }

.shirt_brand {
  color: rgba(10, 120, 180, 0.95); }

.shirt_price {
  color: #14b978; }

.list_image, .modal_shirt {
  height: 12%;
  max-height: 12%;
  min-height: 12%;
  max-width: 12%;
  min-width: 12%;
  width: 12%; }

.linkButton {
  background: linear-gradient(rgba(30, 170, 230, 0.85), rgba(20, 160, 220, 0.9));
  border: linear-gradient(rgba(30, 170, 230, 0.85), rgba(20, 160, 220, 0.9)) 1px solid;
  border: 1px solid linear-gradient(rgba(30, 170, 230, 0.85), rgba(20, 160, 220, 0.9));
  border-bottom: 2px solid rgba(182, 222, 182, 0.1);
  color: white;
  height: 44px;
  width: 50px;
  min-height: 44px;
  min-width: 50px;
  max-height: 44px;
  max-width: 50px; }

.linkButton :hover {
  background: white;
  color: #14b978; }

.update {
  background: #f05abe;
  color: white;
  border: #f05abe; }

#modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

#content {
  position: absolute;
  background: rgba(240, 210, 210, 0.5);
  border-radius: 14px;
  top: 20%;
  border: 3px #ffc8c8 solid;
  padding: 20px; }

#close_it {
  float: right;
  position: relative;
  display: inline-block; }

@media screen and (max-width: 800px) {
  @-ms-viewport {
    width: 321px; } }

/*# sourceMappingURL=stylesheet.css.map */
