/* ALL COLORS */
/* GREY COLORS */
/*PINK COLORS */
/* CYAN COLORS */
/* OTHER COLORS */
/* OTHER VARIABLES */
/* BUTTON SIZES */
* {
  margin: 0 auto;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 1.1em;
  font-family: "Raleway", Futura, Verdana, arial, sans-serif;
  color: #f05abe;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

header {
  margin: 5%; }
  header ul {
    display: inline-block;
    min-width: 90%; }

body {
  background-color: rgba(200, 200, 200, 0.8); }
  body div {
    align-self: auto;
    flex-basis: auto; }
  body li {
    display: flex;
    flex-wrap: wrap; }
  body img {
    max-width: 80%;
    max-height: 80%; }
  body a, body button, body input {
    color: #14b978;
    font-size: 1.1em;
    padding: 3px;
    text-decoration: blink;
    cursor: pointer;
    line-height: 1.1em;
    border: 0 solid transparent;
    border-bottom: 1px solid linear-gradient(rgba(250, 235, 200, 0.222), rgba(255, 245, 210, 0.18)); }
  body:focus {
    box-shadow: 5px 5px 5px rgba(10, 120, 180, 0.95);
    outline: 0; }
  body a:hover, body button:hover, body input:hover {
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px 1px #14b978;
    box-shadow: 1px 1px 3px 1px #14b978; }
  body input {
    border: 1px solid linear-gradient(rgba(30, 170, 230, 0.85), rgba(20, 160, 220, 0.9));
    border-bottom: 3px solid rgba(20, 160, 220, 0.9);
    color: rgba(20, 160, 220, 0.9); }
  body [type=submit] {
    background: linear-gradient(#f05abe, #d741a5);
    border: linear-gradient(#f05abe, #d741a5) 3px solid;
    border-bottom: 5px solid rgba(140, 40, 10, 0.5);
    line-height: 1.1em;
    color: white;
    height: 44px;
    min-height: 44px;
    max-height: 44px; }
  body button {
    background: linear-gradient(#32d796, #14b978);
    color: white;
    border: 2px solid linear-gradient(#32d796, #14b978);
    border-bottom: 4px solid rgba(40, 120, 40, 0.9);
    padding: 5px; }
  body h4 {
    font-size: .5em; }
  body h2 {
    font-size: 1.45em;
    padding: 0 20px; }

footer {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0; }

::-webkit-input-placeholder {
  color: rgba(60, 190, 190, 0.7);
  z-index: 10; }

:-moz-placeholder {
  color: rgba(60, 190, 190, 0.7);
  z-index: 10; }

::-moz-placeholder {
  color: rgba(60, 190, 190, 0.7);
  z-index: 10; }

:-ms-input-placeholder {
  color: rgba(60, 190, 190, 0.7);
  z-index: 10; }

.shirt_list {
  display: flex;
  flex-wrap: wrap; }
  .shirt_list li {
    width: 20%;
    height: 400px; }
  .shirt_list .list_image {
    width: 100%; }

.each_shirt {
  border: 2px rgba(140, 40, 10, 0.5);
  background: linear-gradient(rgba(250, 235, 200, 0.222), rgba(255, 245, 210, 0.18)); }

.shirt_brand {
  color: rgba(10, 120, 180, 0.95); }

.shirt_price {
  color: #14b978; }

.modal_shirt {
  height: 12%;
  max-height: 12%;
  min-height: 12%;
  max-width: 12%;
  min-width: 12%;
  width: 12%; }

.linkButton {
  background: linear-gradient(rgba(30, 170, 230, 0.85), rgba(20, 160, 220, 0.9));
  border: linear-gradient(rgba(30, 170, 230, 0.85), rgba(20, 160, 220, 0.9)) 1px solid;
  border: 1px solid linear-gradient(rgba(30, 170, 230, 0.85), rgba(20, 160, 220, 0.9));
  border-bottom: 2px solid rgba(182, 222, 182, 0.1);
  color: white;
  height: 44px;
  width: 50px;
  min-height: 44px;
  min-width: 50px;
  max-height: 50px;
  max-width: 60px;
  padding: 2px;
  padding-bottom: 10px; }

.linkButton :hover {
  background: white;
  color: #14b978; }

.add_shirt {
  padding: 20px; }

#logo {
  font-size: 1.7em;
  float: left;
  padding-left: 10px; }

#header {
  padding-bottom: 20px;
  width: 100%; }
  #header nav {
    padding: 2px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    background: linear-gradient(rgba(200, 200, 200, 0.8), rgba(180, 180, 180, 0.85)); }
    #header nav .link {
      text-align: center;
      padding-right: 105px; }
      #header nav .link a {
        padding: 0 20px;
        box-shadow: 3px rgba(10, 120, 180, 0.95); }

#search_form {
  padding-left: 38%;
  padding-top: 20px; }

#modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

#content {
  position: absolute;
  background: rgba(240, 210, 210, 0.5);
  border-radius: 14px;
  top: 20%;
  border: 3px #ffc8c8 solid;
  padding: 20px; }

#close_it {
  float: right;
  position: relative;
  display: inline-block; }

@media screen and (max-width: 800px) {
  @-ms-viewport {
    width: 321px; } }

/*# sourceMappingURL=stylesheet.css.map */
