/* ALL COLORS */

/* GREY COLORS */
$l-grey: rgba(200, 200, 200, .8);
$d-grey: rgba(150, 150, 150, .85);
$grey: linear-gradient($l-grey, $d-grey);
$back-f-grey: rgba(182, 222, 182, .1);
$back-l-grey: rgba(250, 235, 200, .222);
$back-d-grey: rgba(255, 245, 210, .18);
$g-grey: linear-gradient($back-l-grey, $back-d-grey);

/*PINK COLORS */
$l-pink: rgba(255, 200, 200, 1);
$back-f-pink: rgba(140, 40, 10, 0.4);
$s-purp: rgba(240, 90, 190, 1);
$back-pink: rgba(220, 60, 60, .05);
$full-pink: rgba(180, 50, 50, .75);

/* CYAN COLORS */
$back-cyan: rgba(120, 250, 250, .5);
$l-cyan: rgba(30, 170, 230, .85);
$d-cyan: rgba(20, 160, 220, .9);
$g-cyan: linear-gradient($l-cyan, $d-cyan);
$d-green-cyan: rgba(20, 185, 120, 1);
$l-green-cyan: rgba(50, 215, 150, 1);
$g-green-cyan: linear-gradient($l-green-cyan, $d-green-cyan);
$blue-cyan: rgba(10, 120, 180, .95);

/* OTHER COLORS */
$white: rgba(255, 255, 255, 1);

$yellow: rgba(245, 245, 90, 1);

/* OTHER VARIABLES */
$s-font: 'Raleway', Futura, Verdana, arial, sans-serif;
$margin: 5%;
* {
    margin         : 0 auto;
    padding        : 0;
    border         : 0;
    outline        : 0;
    vertical-align : baseline;
    background     : transparent;
    font-size   : 1.15em;
    font-family : $s-font;
    color: $s-purp;
    -webkit-box-sizing : border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing    : border-box; /* Firefox, other Gecko */
    box-sizing         : border-box; /* Opera/IE 8+ */
}

html { 
  background: $grey;
  font-family: $s-font;
  margin: $margin auto;
}

header { 
  margin: $margin;

  ul { 
    display: inline-block;
    min-width: 90%;
    }  
}

body {
  background-color: $l-grey;
  padding: 1%;

  div {
    align-self: auto;
    flex-basis: auto;
  }

  li {
    display: flex;
    flex-wrap: wrap;
  }
   a, button, input {
    color: $back-f-grey;
    font-size: 1.1em;
    padding: 1px;
    text-decoration: blink;
    cursor: pointer;
    border: 0 solid transparent;
    border-bottom: 1px solid $grey;
   }
   &:focus {
    box-shadow: 0 0 10px $back-f-grey;
    outline: 0;
   }
   a:hover, button:hover, input:hover {
    box-shadow: 0 0 15px $back-f-grey;
   }

  input {
    border: 1px solid $g-cyan;
    border-bottom: 3px solid $d-cyan;
    color: $white;
  }
}
::-webkit-input-placeholder {
  color: $back-cyan;
  z-index: 10;
  }
  :-moz-placeholder {
  color: $back-cyan;
  z-index: 10;
  }
::-moz-placeholder{
  color: $back-cyan;
  z-index: 10;
}
:-ms-input-placeholder{
  color: $back-cyan;
  z-index: 10;
}

img .image_list {
  height:140px;
  max-height:140px;
  min-height:140px;
  max-width:140px;
  min-width:140px;
  width:140px;

}
.linkButton {
 background: $g-cyan;
 border: $g-cyan 1px solid;
 border: 1px solid $g-cyan;
 border-bottom: 2px solid $back-f-grey;
 color: #fff;
 height: 44px;
 width: 50px;
 min-height: 44px;
 min-width: 50px;
 max-height: 44px;
 max-width: 50px;
}

.linkButton :hover{
 background: #fff;
 color: $g-cyan;
}

@media screen and (max-width:800px) {
    @-ms-viewport {
        width:321px;
    }
}